[Desktop Entry]
Type=Application
Name=DASHBOARD
Comment=Minimal dashboard application
Exec=python3 /home/ficus-pro/Documents/DASHBOARD/00_app/00_main.py
Icon=org.ficus.Dashboard
Terminal=false
Categories=Utility;
Keywords=dashboard;gtk;python;
StartupNotify=true
X-GNOME-UsesNotifications=true
